# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore MPS output directories
**/source_gen/**
**/source_gen.caches/**
**/classes_gen/**

# Intellij user-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# MPS Plugin libraries
/mps-plugin/solutions/org.modelix.mps.rest.model.acess.plugin/lib/*

# Kotlin multipltform JS stuff
/kotlin-js-store/yarn.lock



